:root{
     --cor-primaria: #183C63;
     --cor-secundaria: #3782d2;
     --cor-fundo: #ffffff;
     --cor-texto: #151428;
     --cor-contrate: #f3eef7;
     --cor-botao: #f9f9f9;
}
.tema-escuro{
     --cor-primaria: #ACCEFE;
     --cor-secundaria: #98caff;
     --cor-fundo: #f172a;
     --cor-texto: #ffffff;
     --cor-contraste: #1e293b;
     --cor-botao: #151428;
}
.tema-escuro a {
      color: var(--cor-secundaria);
}
          
body {
       max-width:100vw;

 }



header {
              background-color: var(--cor-primaria);
              color: var(--cor-contraste);
              text-align: center;
              margin: 0 auto;
              padding:16px
                
         }

            
             main {
             background-color: #FFFFFF;
             color:#183c63;
             margin: 0 auto;
             padding:16px;

             display: flex;
             flex-wrap: wrap;
              
    }
    article{
        display: flex;

        border: 1px solid #183C63;
        
        margin: 16px; 
        gap: 16px; 
        padding: 16px;

        flex: 1 1 25%;
        flex-direction: column;
        align-itens: center;
        text-align: center;
        justify-content: center;
    }

        img {
           width: 80px;
           height: 80px;
    }
          .artigo-autor {
          font-weight: bold;
    }
